In [5]:
name1= "Jack"
name1 = "Jack"
name2 = "Rose"
year = 1912
print(name1 + " and " + name2 + " were on the Titanic in " + str(year))

Jack and Rose were on the Titanic in 1912