In [ ]:
name = "Luke Skywalker"
x = name.replace("Luke", "Anakin")
print(x)